@(token: String)(orders: List[play.api.libs.json.JsValue])

@admin_main("后台管理")(token) {
    
} {
    <!--[if lt IE 8]>
			<div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
		<![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="mainNavbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </nav>
    <div class="clearfix row-main">
        <div class="col-md-2">
            <ul class="nav nav-primary nav-stacked leftmenu affix">
            <li>
                    <a href="/admin/statistic">统计数据 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/currency">币种管理 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/applies">审核管理 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/auth/applies">权限管理 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/trade/config">挂单设置<i class="icon-chevron-right"></i></a>
                </li>
                <li class="active">
                    <a href="/admin/order">挂单管理<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/stoke">库存管理<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/bankaccount">银行帐号<i class="icon-chevron-right"></i></a>
                </li>
                <!-- <li>
                    <a href="share-vote.html">分红/投票设置 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="banner.html">首页广告图设置 <i class="icon-chevron-right"></i></a>
                </li> -->
            </ul>
        </div>
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading"><strong><i class="icon-globe"></i> 挂单设置</strong></div>
                <div class="panel-body">
                    <table class="mes-dis" style="width:100%; line-height:30px">
                        <tr>
                            <th style="text-align:center">下单时间</th>
                            <th style="text-align:center">下单数量</th>
                            <th style="text-align:center">下单价格</th>
                            <th style="text-align:center">下单手续费</th>
                            <th style="text-align:center">下单总价</th>
                            <th style="text-align:center">下单状态</th>
                            <th style="text-align:center"></th>
                        </tr>
                        @{orders map {iter => 
                            <tr>
                                <th style="text-align:center">{
                                    val time_span = (iter \ "date").asOpt[Long].get
                                    val format =   new java.text.SimpleDateFormat( "yyyy-MM-dd HH:mm:ss" );
                                    format.format(time_span);
                                }</th>
                                <th style="text-align:center">{(iter \ "amount").asOpt[Float].get}</th>
                                <th style="text-align:center">{(iter \ "price").asOpt[Float].get}</th>
                                <th style="text-align:center">{((iter \ "price").asOpt[Float].get * (iter \ "amount").asOpt[Float].get) * 0.01}</th>
                                <th style="text-align:center">{((iter \ "price").asOpt[Float].get * (iter \ "amount").asOpt[Float].get) * 1.01}</th>
                                <th style="text-align:center">{(iter \ "status").asOpt[Int].get match {
                                        case module.order.OrderStatus.waiting.t => "挂单中"
                                        case module.order.OrderStatus.success.t => "交易成功"
                                        case module.order.OrderStatus.reject.t => "交易失败"
                                }}</th>
                                <!-- <th style="text-align:center">{(iter \ "status").asOpt[Int].get match {
                                        case module.order.OrderStatus.waiting.t => <button class="btn btn-primary" onclick={"approve('" + (iter \ "order_id").asOpt[String].get + "')"}>同意挂单</button>
                                        case module.order.OrderStatus.success.t => ""
                                        case module.order.OrderStatus.reject.t => ""
                                }}</th> -->
                                <th style="text-align:center">{(iter \ "status").asOpt[Int].get match {
                                        case module.order.OrderStatus.waiting.t => <button class="btn btn-primary" onclick={"reject('" + (iter \ "order_id").asOpt[String].get + "')"}>取消挂单</button>
                                        case module.order.OrderStatus.success.t => ""
                                        case module.order.OrderStatus.reject.t => ""
                                }}</th>
                            </tr>
                        }}
                    </table>
                </div>
            </div>
        </div>
    </div>

} {
    <script type="text/javascript">
    (function() {
        var tab_tit = document.getElementById('think_page_trace_tab_tit').getElementsByTagName('span');
        var tab_cont = document.getElementById('think_page_trace_tab_cont').getElementsByTagName('div');
        var open = document.getElementById('think_page_trace_open');
        var close = document.getElementById('think_page_trace_close').childNodes[0];
        var trace = document.getElementById('think_page_trace_tab');
        var cookie = document.cookie.match(/thinkphp_show_page_trace=(\d\|\d)/);
        var history = (cookie && typeof cookie[1] != 'undefined' && cookie[1].split('|')) || [0, 0];
        open.onclick = function() {
            trace.style.display = 'block';
            this.style.display = 'none';
            close.parentNode.style.display = 'block';
            history[0] = 1;
            document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
        }
        close.onclick = function() {
            trace.style.display = 'none';
            this.parentNode.style.display = 'none';
            open.style.display = 'block';
            history[0] = 0;
            document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
        }
        for (var i = 0; i < tab_tit.length; i++) {
            tab_tit[i].onclick = (function(i) {
                return function() {
                    for (var j = 0; j < tab_cont.length; j++) {
                        tab_cont[j].style.display = 'none';
                        tab_tit[j].style.color = '#999';
                    }
                    tab_cont[i].style.display = 'block';
                    tab_tit[i].style.color = '#000';
                    history[1] = i;
                    document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
                }
            })(i)
        }
        parseInt(history[0]) && open.click();
        (tab_tit[history[1]] || tab_tit[0]).click();
    })();

    function reject(order_id) {
        var query_object = new Object();
        query_object['order_id'] = order_id;

        $.ajax({
            // url: "/trade/sell",
            url: "/order/reject",
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json, charset=utf-8',
            data: JSON.stringify(query_object), 
            cache: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'Basic ' + '@token');
            },
            success: function (data) {
                if (data.status == "ok") {
                    alert("取消成功");
                    location.href = "/admin/order";
                } else {
                    alert(data.error.message);
                }
            },
            error: function (xhr, status, error) {
                alert("请检查您的输入");
            }
        });
    }

    function approve(order_id) {
        var query_object = new Object();
        query_object['order_id'] = order_id;

        $.ajax({
            // url: "/trade/sell",
            url: "/order/approve",
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json, charset=utf-8',
            data: JSON.stringify(query_object), 
            cache: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Authorization', 'Basic ' + '@token');
            },
            success: function (data) {
                if (data.status == "ok") {
                    alert("交易成功");
                    location.href = "/admin/order";
                } else {
                    alert(data.error.message);
                }
            },
            error: function (xhr, status, error) {
                alert("请检查您的输入");
            }
        });
    }
    </script>
}
