@(token: String)(applies: List[play.api.libs.json.JsValue])(page : String)

@admin_main("后台管理")(token) {
    
} {
    <!--[if lt IE 8]>
            <div class="alert alert-danger">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="mainNavbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <button id="logout_btn" style="float: right; clear: both" class="btn btn-primay" onclick="logout()">登出</button>
    </nav>
    <script language="javascript">
    function check_all(obj, cName) {
        var checkboxs = document.getElementsByName(cName);
        for (var i = 0; i < checkboxs.length; i++) {
            checkboxs[i].checked = obj.checked;
        }
    }

    </script>
    <div class="clearfix row-main">
        <div class="col-md-2">
            <ul class="nav nav-primary nav-stacked leftmenu affix">
            <li>
                    <a href="/admin/statistic">统计数据 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/currency">币种管理 <i class="icon-chevron-right"></i></a>
                </li>
                <li class="active" >
                    <a href="/admin/applies">审核管理 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/auth/applies">权限管理 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/trade/config">挂单设置<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/order">挂单管理<i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="/admin/stoke">库存管理<i class="icon-chevron-right"></i></a>
                </li>
                <!-- <li>
                    <a href="share-vote.html">分红/投票设置 <i class="icon-chevron-right"></i></a>
                </li>
                <li>
                    <a href="banner.html">首页广告图设置 <i class="icon-chevron-right"></i></a>
                </li> -->
            </ul>
        </div>
        <script language="javascript">
        function fn(coinid) {
            if (confirm("确定删除吗")) {
                location.href = "/testadmin.php/Home/Currency/delCoin/coinid/" + coinid;
            } else {
                location.href = "";
            }
        }

        function selectWallet(obj, coinid, type) {
            $(obj).siblings().removeClass('active');
            $(obj).addClass('active');
            if (type == 1) {
                $('#wallet_1_' + coinid).show();
                $('#wallet_2_' + coinid).hide();
                //$('#pubkey_'+coinid).val('');
                $('#hostip_' + coinid).val(1);
            } else {
                $('#wallet_2_' + coinid).show();
                $('#wallet_1_' + coinid).hide();
                $('#hostip_' + coinid).val('');
                //$('#hostip_'+coinid).attr("checked",'');
            }
        }
        </script>
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <strong>
                    <i class="icon-list-ul">
                    </i>
                    申请管理
                </strong>
<!--                     <div class="panel-actions">
                        <a data-toggle="modal" data-target="#ajaxModal" class="btn btn-primary">
                            <i class="icon-plus"></i> 新增币种
                        </a>
                    </div> -->
                </div>
                <table class="table table-hover   tablesorter">
                    <thead>
                        <tr>
                            <th class="text-center w-60px">编号</th>
                            <th class="text-center w-80px">申请类型</th>
                            <th class="text-center w-100px">申请金额</th>
                            <th class="text-center w-100px">申请时间</th>
                            <th class="text-center w-100px">申请当前状态</th>
                            <th class="text-center w-90px"></th>
                        </tr>
                    </thead>
                    <tbody>
                    @{(applies zipWithIndex) map { iter =>
                        <tr class="success">
                            <td class="text-center">
                                {page.toInt * 20 + (iter._2 + 1)}
                                <input type="hidden" value={(iter._2 + 1).toString} name="coin[1]" style=" width:50px;" />
                            </td>
                            <td class="text-center">
                                <span type="text" class="form-control" >
                                    {(iter._1 \ "apply_type").asOpt[Int].get match {
                                        case module.applies.ApplyTypes.pushMoney.t => "申请充值"
                                        case module.applies.ApplyTypes.popMoney.t => "申请提现"
                                        case module.applies.ApplyTypes.accountApp.t => "申请权限"
                                    }}
                                </span>
                            </td>
                            <td class="text-center">
                                <span class="form-control" >{(iter._1 \ "amount").asOpt[Float].map (x => x).getOrElse("")}</span>
                            </td>
                            <td class="text-center w-60px">
                                <span class="form-control" >{
                                    val time_span = (iter._1 \ "date").asOpt[Long].get
                                    val format =   new java.text.SimpleDateFormat( "yyyy-MM-dd HH:mm:ss" );
                                    format.format(time_span);
                                }</span>
                            </td>
                            <td class="text-center">
                                <span class="form-control" >
                                    {(iter._1 \ "status").asOpt[Int].get match {
                                        case module.applies.ApplyStatus.add.s => "未审核"
                                        case module.applies.ApplyStatus.approve.s => "已通过"
                                        case module.applies.ApplyStatus.revert.s => "已取消"
                                        case module.applies.ApplyStatus.reject.s => "已拒绝"
                                    }}
                                </span>
                            </td>
                            <td class="text-center">
                                {(iter._1 \ "status").asOpt[Int].get match {
                                    case module.applies.ApplyStatus.add.s => {
                                        <button id={"button_" + iter._2} class="btn btn-warning" onclick={"approve('" + (iter._1 \  "apply_id").asOpt[String].get + "')"}>通过 </button> 
                                        <button id={"button_" + iter._2} class="btn btn-warning" onclick={"reject('" + (iter._1 \  "apply_id").asOpt[String].get + "')"}>拒绝 </button>
                                    }
                                    case module.applies.ApplyStatus.approve.s => ""
                                    case module.applies.ApplyStatus.revert.s => ""
                                    case module.applies.ApplyStatus.reject.s => ""
                                }}
                            </td>
                        </tr>
                    }}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="15">
                                <div style="float:right; clear:none;" class="page form-inline">
                                    <div class="pagination">
                                        <div> 
                                        <span>当前是第@{page}页</span>
                                        <button class="btn btn-warning" onclick=@{"prevPage(" + page + ")"}>上一页 </button> 
                                        <button class="btn btn-warning" onclick=@{"nextPage(" + page + ")"}>下一页 </button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

} {
    <script type="text/javascript">
    (function() {
        var tab_tit = document.getElementById('think_page_trace_tab_tit').getElementsByTagName('span');
        var tab_cont = document.getElementById('think_page_trace_tab_cont').getElementsByTagName('div');
        var open = document.getElementById('think_page_trace_open');
        var close = document.getElementById('think_page_trace_close').childNodes[0];
        var trace = document.getElementById('think_page_trace_tab');
        var cookie = document.cookie.match(/thinkphp_show_page_trace=(\d\|\d)/);
        var history = (cookie && typeof cookie[1] != 'undefined' && cookie[1].split('|')) || [0, 0];
        open.onclick = function() {
            trace.style.display = 'block';
            this.style.display = 'none';
            close.parentNode.style.display = 'block';
            history[0] = 1;
            document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
        }
        close.onclick = function() {
            trace.style.display = 'none';
            this.parentNode.style.display = 'none';
            open.style.display = 'block';
            history[0] = 0;
            document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
        }
        for (var i = 0; i < tab_tit.length; i++) {
            tab_tit[i].onclick = (function(i) {
                return function() {
                    for (var j = 0; j < tab_cont.length; j++) {
                        tab_cont[j].style.display = 'none';
                        tab_tit[j].style.color = '#999';
                    }
                    tab_cont[i].style.display = 'block';
                    tab_tit[i].style.color = '#000';
                    history[1] = i;
                    document.cookie = 'thinkphp_show_page_trace=' + history.join('|')
                }
            })(i)
        }
        parseInt(history[0]) && open.click();
        (tab_tit[history[1]] || tab_tit[0]).click();
    })();

    function prevPage(p) {
        var page = parseInt(p);
        if (page == 0) {
            alert("当前是最前页");
        } else {
            page = page - 1;
            location.href = "/admin/applies/" + page
        }
    }

    function nextPage(p) {
        var page = parseInt(p);
        page = page + 1;
        location.href = "/admin/applies/" + page
    }

    function reject(apply_id) {
        var query_object = new Object();
        query_object['apply_id'] = apply_id;

        $.ajax({
            url: "/apply/rejectapp",
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json, charset=utf-8',
            data: JSON.stringify(query_object),
            cache: false,
            beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Basic ' + '@token');
            },
            success: function (data) {
                if (data.status == "ok") {                                          
                     alert("拒绝审核！");
                     location.reload();
                } else {
                    alert(data.error.message);
                }
            },
            error: function (xhr, status, error) {
                alert("请检查您的输入");
            }
        });
    }

    function approve(apply_id) {
        var query_object = new Object();
        query_object['apply_id'] = apply_id;

        $.ajax({
            url: "/apply/approveapp",
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json, charset=utf-8',
            data: JSON.stringify(query_object),
            cache: false,
            beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Basic ' + '@token');
            },
            success: function (data) {
                if (data.status == "ok") {                                          
                     alert("通过审核！");
                     location.reload();
                } else {
                    alert(data.error.message);
                }
            },
            error: function (xhr, status, error) {
                alert("请检查您的输入");
            }
        });
    }
    </script>
}
