<!DOCTYPE html>
<html>

<head>
    <title>充值 </title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="keywords">
    <meta name="description" content="description">
    <link rel="stylesheet" href="css/common.css">
    <style type="text/css">
    object,
    embed {
        -webkit-animation-duration: .001s;
        -webkit-animation-name: playerInserted;
        -ms-animation-duration: .001s;
        -ms-animation-name: playerInserted;
        -o-animation-duration: .001s;
        -o-animation-name: playerInserted;
        animation-duration: .001s;
        animation-name: playerInserted;
    }
    
    @-webkit-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    
    @-ms-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    
    @-o-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="login-top">
        <div class="login-top-head">
            <div class="minbox">
                <div class="h-l">
                    <em class="contact pl10">客服电话：400-123-1234<i class="pl15">服务时间 9:00-21:00</i></em>
                    <a href="javascript:void(0)" class="wx pop-wx" title="微信"></a>
                    <a href="http://weibo.com/gobiw" target="_blank" class="wb" title="微博" rel="nofollow"></a>
                    <a href="tencent://message/?uin=22645950&amp;Site= 网购最具投资价值的虚拟货币&amp;Menu=yes" target="_blank" class="qq" title="QQ"></a>
                </div>
                <div class="h-r pr30">
                    您好，<a href="#">12345678@qq.com</a> ID：
                    <a href="#">15698</a>
                    <a href="#">退出</a>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-menu">
        <div class="minbox clearfix">
            <div class="k-logo pl10">
                <a href="/?5196575" title="首页"><img alt="" src="images/logo.jpg"></a>
            </div>
            <div class="k-menu pl70">
                <ul class="clearfix pt10">
                    <li><a href="index.html">首页</a></li>
                    <li>
                        <a class="deal-center">
                            <span>交易中心</span><img class="jt" src="images/down.png">
                        </a>
                        <div class="deal-list">
                            <dl>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                            </dl>
                            <div class="sj"></div>
                            <div class="nocontent"></div>
                        </div>
                    </li>
                    <li><a href="finance_index.html">财务中心</a></li>
                    <li><a href="safe_index.html">安全中心</a></li>
                    <li><a href="vote_index">投票中心</a></li>
                    <li><a href="store.html">投票中心</a></li>
                    <li><a href="help_index.html">帮助中心</a></li>
                </ul>
            </div>
            <div class="hphone">
                <a class="qqkefu" target="_blank" href="tencent://message/?uin=123456&amp;Site= 网购最具投资价值的虚拟货币&amp;Menu=yes"></a>
                <span class="iphone">400-123-1234</span>
            </div>
        </div>
    </div>
    <div id="diyou_dialog" style="display: none">
        <div class="dialog_main">
            <div class="dialog_tit">
                <h2 style="cursor: move;">登录</h2><i class="close CLOSE" data-url=""></i></div>
            <div class="dialog_con">
                <div class="login_div">
                    <div class="login_content">
                        <div class="login_reg">还没账号？<a href="/user/reg" target="_blank">免费注册</a></div>
                        <div class="login_warning" name="login_warning" style="display:none;">
                        </div>
                        <div class="login_username">
                            <input name="log_name" type="text" placeholder="电子邮箱" value="" class="login_input">
                        </div>
                        <div class="login_password">
                            <input name="log_pwd" type="password" placeholder="密码" value="" class="login_input">
                        </div>
                        <!-- <div class="login_verify_code">
        <input id="log_vericode" name="vericode" type="text" class="login_input_vericode" placeholder="输入验证码" maxlength="4" value=""> <img class="check-code" width="100" src="images/checkcode.jpg"> 
        </div> -->
                        <div class="log_status">
                            <input type="checkbox" name="autologin" value="123123"> 下次自动登录</div>
                        <div class="login_submit">
                            <input type="button" onclick="login()" value="登&nbsp;&nbsp;录" id="log_sub">
                        </div>
                        <div class="login_forget_password"><a href="/user/forget" target="_blank">忘记密码？</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function login() {
        var username = $('input[name="log_name"]').last().val();
        var password = $('input[name="log_pwd"]').last().val();
        var autologin = $('input[name="autologin"]').last().is(":checked");

        var url = "https://www./user/login/";
        var param = {
            'user': username,
            'password': password,
            'autologin': autologin
        }
        $.post(url, param,
            function(data) {
                if (data.flag) {
                    location.reload();
                } else {
                    $('.login_warning').last().attr('style', '');
                    $('.login_warning').last().html('<span>' + data.data + '</span>')
                }
            }, "json");
    }
    </script>
    <!-- /头部 -->
    <!-- 主体内容 -->
    <div class="main-wrap">
        <p class="ac-mk">
            <a href="/">首页</a> &gt; <a href="javascript:;">人民币在线自动充值</a>
        </p>
        <div class="l-container">
            <!--左边导航区域-->
            <div class="cont-left fl">
                <ul class="mod-sidebar mon-cen">
                    <li id="nav_index">
                        <a href="index.html"><i class="coin_menu_op_0"></i><span class="pl10">财务中心</span></a>
                    </li>
                    <li id="nav_onlinepay"  class="active" style="border-top: 1px solid #ccc">
                        <a href="people_pay.html"><i class="coin_menu_op_18"></i><span class="pl10">人民币充值</span></a>
                    </li>
                    <li id="nav_currencyin" style="border-top: 1px solid #ccc">
                        <a href="currencyin.html"><i class="coin_menu_op_4"></i><span class="pl10">转入虚拟币</span></a>
                    </li>
                    <li id="nav_currencyout" style="border-top: 1px solid #ccc">
                        <a href="currencyout.html"><i class="coin_menu_op_5"></i><span class="pl10">转出虚拟币</span></a>
                    </li>
                    <li id="nav_entrust" style="border-top: 1px solid #ccc">
                        <a href="mandate.html"><i class="coin_menu_op_6"></i><span class="pl10">委托管理</span></a>
                    </li>
                    <li id="nav_order"  style="border-top: 1px solid #ccc;border-bottom: 1px solid #ccc">
                        <a href="order.html"><i class="coin_menu_op_7"></i><span class="pl10">成交查询</span></a>
                    </li>
                    
                </ul>
            </div>
            <!--/左边导航区域-->
            <!--右边内容区域-->
            <div class="cont-right fr">
                <div class="cont-tit">
                    <h2>请选择您最便捷的充值方式</h2>
                </div>
                <div class="cont-detail">
                    <div class="charge-wrap">
                        <div class="charge_nav">
                            <ul>
                                <ul>
                                    <li class="current"><a>在线充值</a></li>
                                    <li><a href="/finance/deposit/">汇款充值</a></li>
                                    <li><a href="/finance/deposit/alipay/1">支付宝充值</a></li>
                                </ul>
                            </ul>
                        </div>
                        <div class="charge_box">
                            <div class="ebank_box">
                                <ul class="ebank_logo">
                                    <li>
                                        <input name="bank" type="radio" id="ICBC" value="ICBC">
                                        <label for="ICBC"><i class="ICBC"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="CCB" value="CCB">
                                        <label for="CCB"><i class="CCB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="ABC" value="ABC">
                                        <label for="ABC"><i class="ABC"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="PSBC" value="PSBC">
                                        <label for="PSBC"><i class="PSBC"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="BOCSH" value="BOCSH">
                                        <label for="BOCSH"><i class="BOCSH"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="CMB" value="CMB">
                                        <label for="CMB"><i class="CMB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="BOCOM" value="BOCOM">
                                        <label for="BOCOM"><i class="BOCOM"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="CMBC" value="CMBC">
                                        <label for="CMBC"><i class="CMBC"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="SPDB" value="SPDB">
                                        <label for="SPDB"><i class="SPDB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="GDB" value="GDB">
                                        <label for="GDB"><i class="GDB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="CNCB" value="CNCB">
                                        <label for="CNCB"><i class="CNCB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="CEB" value="CEB">
                                        <label for="CEB"><i class="CEB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="HXB" value="HXB">
                                        <label for="HXB"><i class="HXB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="CIB" value="CIB">
                                        <label for="CIB"><i class="CIB"></i></label>
                                    </li>
                                    <li>
                                        <input name="bank" type="radio" id="PAB" value="PAB">
                                        <label for="PAB"><i class="PAB"></i></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="charge_input">
                                <div class="charge_title">充值金额：</div>
                                <div class="charge_text">
                                    <input type="text" class="form-control" name="money" id="money"> &nbsp;&nbsp;元
                                </div>
                                <div class="form_explain" id="money-msg">每次最低充值100元，最高充值5万元<em></em></div>
                            </div>
                            <ul style="clear:both;">
                                <div class="cnyin_btn">
                                    <input style="margin:30px 0 30px 30px;" type="button" value="立即充值" onclick="subfrm()">
                                </div>
                            </ul>
                            <div class="">
                                <table class="charge-dis">
                                    <thead>
                                        <tr>
                                            <th>充值ID</th>
                                            <th>时间</th>
                                            <th>充值金额</th>
                                            <th>充值方式</th>
                                            <th>充值状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                <p class="tc">暂无记录</p>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 充值记录 -->
                </div>
            </div>
            <!--/右边内容区域-->
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 底部 -->
    <div id="ft" class="ft clearfix">
            <div class="ft-inner clearfix">
                <div class="help_service clearfix">
                    <div class="ft-helper clearfix">
                        <dl>
                            <dt><a href="javascript:;" title="">关于我们</a></dt>
                            <dd>
                                <a href="#>公司简介 </a>
                            <a href=" #>联系我们 </a>
                                <a href="#">法律声明 </a>
                                <a href="#">费用说明 </a>
                                <a href="#" title="">更多</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt><a href="javascript:;" title="">新手帮助</a></dt>
                            <dd>
                                <a href="#">注册指南 </a>
                                <a href="#">充值指南 </a>
                                <a href="#">交易指南 </a>
                                <a href="#">虚拟币提现指南 </a>
                                <a href="#" title="">更多</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt><a href="javascript:;" title="">下载中心</a></dt>
                            <dd>
                                <a href="#">虚拟币钱包下载 </a>
                                <a href="#">浏览器下载 </a>
                                <a href="#">新币上线申请条例 </a>
                                <a href="#" title="">更多</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="ft-service">
                        <dl>
                            <dt><span class="icon-hdSprite icon-ft-tishi"></span>
                                <a href="#" class="fl fb" target="_blank">在线客服</a></dt>
                            <dd>
                                <p>
                                    <strong>400-123-1234</strong>
                                </p>
                                <p>工作9:00-21:00 / 节假日9:00-18:00</p>
                                <p>
                                    <a id="a-cs_email" href="mailto:admin@" class="serviceLink sLk1">客服邮箱</a>
                                    <a id="a-cs_ online" href="tencent://message/?uin=123456789&amp;Site=凤凰币 | 网购最具投资价值的虚拟货币&amp;Menu=yes" target="_blank" class="serviceLink sLk2">在线客服</a>
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="ft-wap clearfix">
                    <ul class="mobile-client">
                        <li>
                            <p>关注微信</p>
                            <p class="mt-10"><img width="110" src="images/code.png"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ft-record">
                <div class="ft-identity">
                    <em>CopyRight©</em>
                    <span>2016 凤凰币 | 网购最具投资价值的虚拟货币 All rights reserved</span>
                    <span class="color-e6">|</span>
                    <span>福建中泰网络科技有限公司</span>
                    <span class="color-e6">|</span>
                    <span>闽ICP备14013060号</span>
                </div>
            </div>
        </div>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="js/common.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?dc59d43ba314be9e7a66f9bc2a416c7d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script type="text/javascript">
    function subfrm() {
        if (!$("input[name='bank']:checked").val()) {
            alert('请选择支付的银行！');
            return;
        }
        var money = Number($("input[name='money']").val());
        if (!money) {
            alert('请填写正确的数额');
            return;
        }
        if (money < 100 || money > 50000) {
            alert('超出金额范围');
            return;
        }

        var param = {
            'money': money,
            'bank': $("input[name='bank']:checked").val(),
        }

        $.ajax({
            type: 'POST',
            url: "/system/addpay",
            data: param,
            async: false,
            dataType: 'json',
            success: function(s) {
                if (s.flag) {
                    window.open("/system/sendpay/pag_id/" + s.data);
                } else {
                    alert(data.data);
                }
            }
        });
    }

    var pageSet = {};
    pageSet.showDetail = function() {
        var timer = null
        $('.deal-center').hover(function() {
            $('.deal-list').show();
        }, function() {
            timer = setTimeout(function() {
                $('.deal-list').hide();
            }, 500)

        })
        $('.deal-list').hover(function() {
            timer && clearTimeout(timer);
        }, function() {
            timer = setTimeout(function() {
                $('.deal-list').hide();
            }, 500)
        })
    }
    pageSet.init = function() {
        pageSet.showDetail();
    };
    $(function() {
        pageSet.init();
    })
    </script>
</body>

</html>
