@(token: String)(profile: play.api.libs.json.JsValue)(banks: List[play.api.libs.json.JsValue])

@main("充值")(token) {

} {
    <!-- 主体内容 -->
    <div class="main-wrap">
        <p class="ac-mk">
            <a href="/">首页</a> &gt; <a href="javascript:;">人民币提现申请</a>
        </p>
        <div class="l-container">
            <!--左边导航区域-->
            <div class="cont-left fl">
                <ul class="mod-sidebar mon-cen">
                    <li id="nav_index" >
                        <a href="/finance/index"><i class="coin_menu_op_0"></i><span class="pl10">财务中心</span></a>
                    </li>
                    <li id="nav_onlinepay" style="border-top: 1px solid #ccc">
                        <a href="/finance/pay"><i class="coin_menu_op_18"></i><span class="pl10">人民币充值</span></a>
                    </li>
                    <li id="nav_onlinepay" class="active" style="border-top: 1px solid #ccc">
                        <a href="/finance/withdraw"><i class="coin_menu_op_18"></i><span class="pl10">人民币提现</span></a>
                    </li>
                    <!-- <li id="nav_currencyin" style="border-top: 1px solid #ccc">
                        <a href="finance_currencyin.html"><i class="coin_menu_op_4"></i><span class="pl10">转入虚拟币</span></a>
                    </li>
                    <li id="nav_currencyout" style="border-top: 1px solid #ccc">
                        <a href="finance_currencyout.html"><i class="coin_menu_op_5"></i><span class="pl10">转出虚拟币</span></a>
                    </li>
                    <li id="nav_entrust" style="border-top: 1px solid #ccc">
                        <a href="finance_mandate.html"><i class="coin_menu_op_6"></i><span class="pl10">委托管理</span></a>
                    </li> -->
                    <li id="nav_order"  style="border-top: 1px solid #ccc;">
                        <a href="/finance/order"><i class="coin_menu_op_7"></i><span class="pl10">挂单查询</span></a>
                    </li>
                    <li id="nav_order"  style="border-top: 1px solid #ccc;border-bottom: 1px solid #ccc">
                        <a href="/finance/app/query"><i class="coin_menu_op_7"></i><span class="pl10">申请查询</span></a>
                    </li>
                    
                </ul>
            </div>
            <!--/左边导航区域-->
            <!--右边内容区域-->
            <div class="cont-right fr">
                <div class="cont-tit">
                    <h2>请选择您最便捷的充值方式</h2>
                </div>
                <div class="cont-detail">
                    <div class="charge-wrap">
                            <div class="charge_input">
                                <div class="charge_title">银行卡号：</div>
                                <div class="charge_text">
                                    <select name="select-bank">
                                        @{(banks zipWithIndex) map { x =>
                                            <option value={(x._1 \ "bank_name").asOpt[String].get + ":" + {(x._1 \ "bank_account").asOpt[String].get}}>
                                                {(x._1 \ "bank_name").asOpt[String].get}:{(x._1 \ "bank_account").asOpt[String].get}
                                            </option>    
                                        }}
                                    </select>
                                </div>
                                <div class="charge_title"></div>
                                <div class="charge_text">
                                    <a href="/profile/bankaccount">管理银行卡</a>
                                </div>
                            </div>
                            <div class="charge_input">
                                <div class="charge_title">提现金额：</div>
                                <div class="charge_text">
                                    <input type="text" class="form-control" name="money" id="money"> &nbsp;&nbsp;元
                                </div>
                                <div class="form_explain" id="money-msg">最低提现100元，单笔最高充值5万元，单日最高50万元<em></em></div>
                            </div>
                            <div class="charge_input">
                                <div class="charge_title">交易密码：</div>
                                <div class="charge_text">
                                    <input type="password" class="form-control" name="trade-pwd" >
                                </div>
                            </div>
                            <ul style="clear:both;">
                                <div class="cnyin_btn">
                                    <input style="margin:30px 0 30px 30px;" type="button" value="提现申请" onclick="subfrm()">
                                </div>
                            </ul>
                            <div class="sc_info_list" id="sc_info_list">
                                <div style="background-color: rgb(249, 249, 249);">
                                    <dt>提现须知：</dt>
                                    <br/>
                                    <dd>
                                        <p>1. 提现手续费为提现现金金额的1%，每笔提现最低收费2元</p>
                                    </dd>
                                    <br/>
                                    <dd>
                                        <p>2. 银行卡提现24小时内到账，在已汇出24小时后仍未收到款项，请联系在线客服</p>
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 充值记录 -->
                </div>
            </div>
            <!--/右边内容区域-->
        </div>
    </div>
    <!-- /主体内容 -->
} {

    <script type="text/javascript">
    function subfrm() {
        var money = Number($("input[name='money']").val());
        if (!money) {
            alert('请填写正确的数额');
            return;
        }
        if (money < 100 || money > 50000) {
            alert('超出金额范围');
            return;
        }

        var trade_pwd = $("input[name='trade-pwd']").val();
        var message = $('select').val();
        
        var query_object = new Object();
        query_object['amount'] = money;
        query_object['type'] = 1;
        query_object['message'] = message;
        query_object['trade_pwd'] = trade_pwd;

        $.ajax({
            url: "/apply/pushapp",
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json, charset=utf-8',
            data: JSON.stringify(query_object),
            cache: false,
            beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', 'Basic ' + '@token');
            },
            success: function (data) {
                if (data.status == "ok") {                                          
                     alert("申请成功！");
                     location.href = "/finance/app/query";
                } else {
                    alert(data.error.message);
                }
            },
            error: function (xhr, status, error) {
                alert("发布失败，请检查您的输入");
            }
        });
    }

    var pageSet = {};
    pageSet.showDetail = function() {
        var timer = null
        $('.deal-center').hover(function() {
            $('.deal-list').show();
        }, function() {
            timer = setTimeout(function() {
                $('.deal-list').hide();
            }, 500)

        })
        $('.deal-list').hover(function() {
            timer && clearTimeout(timer);
        }, function() {
            timer = setTimeout(function() {
                $('.deal-list').hide();
            }, 500)
        })
    }
    pageSet.init = function() {
        pageSet.showDetail();
    };
    $(function() {
        pageSet.init();
    })
    </script>
} {
	您好，<a href="#">@{(profile \ "name").asOpt[String].get}</a> <button id='logout_btn' class='btn'>退出</button>
}