<!DOCTYPE html>
<html>

<head>
    <title>虚拟币转出</title>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="keywords">
    <meta name="description" content="description">
    <link rel="stylesheet" href="css/common.css">
    
    <style type="text/css">
    object,
    embed {
        -webkit-animation-duration: .001s;
        -webkit-animation-name: playerInserted;
        -ms-animation-duration: .001s;
        -ms-animation-name: playerInserted;
        -o-animation-duration: .001s;
        -o-animation-name: playerInserted;
        animation-duration: .001s;
        animation-name: playerInserted;
    }
    
    @-webkit-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    
    @-ms-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    
    @-o-keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes playerInserted {
        from {
            opacity: 0.99;
        }
        to {
            opacity: 1;
        }
    }
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="login-top">
        <div class="login-top-head">
            <div class="minbox">
                <div class="h-l">
                    <em class="contact pl10">客服电话：400-123-1234<i class="pl15">服务时间 9:00-21:00</i></em>
                    <a href="javascript:void(0)" class="wx pop-wx" title="微信"></a>
                    <a href="http://weibo.com/gobiw" target="_blank" class="wb" title="微博" rel="nofollow"></a>
                    <a href="tencent://message/?uin=22645950&amp;Site=xxx.com | 网购最具投资价值的虚拟货币&amp;Menu=yes" target="_blank" class="qq" title="QQ"></a>
                </div>
                <div class="h-r pr30">
                    您好，<a href="#">12345678@qq.com</a> ID：
                    <a href="#">15698</a>
                    <a href="#">退出</a>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-menu">
        <div class="minbox clearfix">
            <div class="k-logo pl10">
                <a href="index.html" title="首页"><img alt="" src="images/logo.jpg"></a>
            </div>
            <div class="k-menu pl70">
                <ul class="clearfix pt10">
                    <li><a href="index.html">首页</a></li>
                    <li>
                        <a class="deal-center">
                            <span>交易中心</span><img class="jt" src="images/down.png">
                        </a>
                        <div class="deal-list">
                            <dl>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                                <dd>
                                    <a href="#"><img class="coin-it" src="images/k.png">凯特币(KTC)</a>
                                </dd>
                            </dl>
                            <div class="sj"></div>
                            <div class="nocontent"></div>
                        </div>
                    </li>
                    <li><a href="finance_index.html">财务中心</a></li>
                    <li><a href="safe_index.html">安全中心</a></li>
                    <li><a href="vote_index">投票中心</a></li>
                    <li><a href="store.html">投票中心</a></li>
                    <li><a href="help_index.html">帮助中心</a></li>
                </ul>
            </div>
            <div class="hphone">
                <a class="qqkefu" target="_blank" href="tencent://message/?uin=22645950&amp;Site=xxx.com | 网购最具投资价值的虚拟货币&amp;Menu=yes"></a>
                <span class="iphone">400-123-1234</span>
            </div>
        </div>
    </div>
    <div id="diyou_dialog" style="display: none">
        <div class="dialog_main">
            <div class="dialog_tit">
                <h2 style="cursor: move;">登录</h2><i class="close CLOSE" data-url=""></i></div>
            <div class="dialog_con">
                <div class="login_div">
                    <div class="login_content">
                        <div class="login_reg">还没账号？<a href="/user/reg" target="_blank">免费注册</a></div>
                        <div class="login_warning" name="login_warning" style="display:none;">
                        </div>
                        <div class="login_username">
                            <input name="log_name" type="text" placeholder="电子邮箱" value="" class="login_input">
                        </div>
                        <div class="login_password">
                            <input name="log_pwd" type="password" placeholder="密码" value="" class="login_input">
                        </div>
                        <!-- <div class="login_verify_code">
        <input id="log_vericode" name="vericode" type="text" class="login_input_vericode" placeholder="输入验证码" maxlength="4" value=""> <img class="check-code" width="100" src="images/checkcode.jpg"> 
        </div> -->
                        <div class="log_status">
                            <input type="checkbox" name="autologin" value="123123"> 下次自动登录</div>
                        <div class="login_submit">
                            <input type="button" onclick="login()" value="登&nbsp;&nbsp;录" id="log_sub">
                        </div>
                        <div class="login_forget_password"><a href="/user/forget" target="_blank">忘记密码？</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function login() {
        var username = $('input[name="log_name"]').last().val();
        var password = $('input[name="log_pwd"]').last().val();
        var autologin = $('input[name="autologin"]').last().is(":checked");

        var url = "https://www.gobiw.com/user/login/";
        var param = {
            'user': username,
            'password': password,
            'autologin': autologin
        }
        $.post(url, param,
            function(data) {
                if (data.flag) {
                    location.reload();
                } else {
                    $('.login_warning').last().attr('style', '');
                    $('.login_warning').last().html('<span>' + data.data + '</span>')
                }
            }, "json");
    }
    </script>
    <!-- /头部 -->
    <!-- 主体内容 -->
    <div class="main-wrap">
        <p class="ac-mk">
            <a href="/">首页</a> &gt; <a href="javascript:;">转出虚拟币</a>
        </p>
        <div class="l-container">
            <!--左边导航区域-->
             <div class="cont-left fl">
                <ul class="mod-sidebar mon-cen">
                    <li id="nav_index">
                        <a href="index.html"><i class="coin_menu_op_0"></i><span class="pl10">财务中心</span></a>
                    </li>
                    <li id="nav_onlinepay" style="border-top: 1px solid #ccc">
                        <a href="people_pay.html"><i class="coin_menu_op_18"></i><span class="pl10">人民币充值</span></a>
                    </li>
                    <li id="nav_currencyin" style="border-top: 1px solid #ccc">
                        <a href="currencyin.html"><i class="coin_menu_op_4"></i><span class="pl10">转入虚拟币</span></a>
                    </li>
                    <li id="nav_currencyout"  class="active" style="border-top: 1px solid #ccc">
                        <a href="currencyout.html"><i class="coin_menu_op_5"></i><span class="pl10">转出虚拟币</span></a>
                    </li>
                    <li id="nav_entrust" style="border-top: 1px solid #ccc">
                        <a href="mandate.html"><i class="coin_menu_op_6"></i><span class="pl10">委托管理</span></a>
                    </li>
                    <li id="nav_order"  style="border-top: 1px solid #ccc;border-bottom: 1px solid #ccc">
                        <a href="order.html"><i class="coin_menu_op_7"></i><span class="pl10">成交查询</span></a>
                    </li>
                    
                </ul>
            </div>
            <!--/左边导航区域-->
            <!--右边内容区域-->
            <div class="cont-right fr">
                <div class="cont-tit">
                    <h2>转出虚拟币</h2>
                </div>
                <div id="coin_active" class="weituo_bizhong">
                    <div class="bizhong_select">
                        <div class="bz_btn">
                            <img class="coin-it" id="currentimg" src="images/k.png">
                            <span id="coin-default">凯特币(KTC)</span></div>
                        <i></i>
                        <ul id="coinbox">
                            <li>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/k.png"><span>凯特币(KTC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/btb.png"><span>凯特币(BTC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/fhb.png"><span>凯特币(FHC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/k.png"><span>凯特币(KTC)</span></a>
                            </li>     <li>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/k.png"><span>凯特币(KTC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/btb.png"><span>凯特币(BTC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/fhb.png"><span>凯特币(FHC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/k.png"><span>凯特币(KTC)</span></a>
                            </li>     <li>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/k.png"><span>凯特币(KTC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/btb.png"><span>凯特币(BTC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/fhb.png"><span>凯特币(FHC)</span></a>
                                <a href="#" name="chgeCoin"><img class="coin-it" src="images/k.png"><span>凯特币(KTC)</span></a>
                            </li>
                    
                        </ul>
                    </div>
                    <div class="bizhong_type">
                        <span>可用<em class="coin-name">凯特币</em>：<font class="coin-balance">0</font></span>
                        <span>冻结<em class="coin-name">凯特币</em>：<strong class="coin-lock">0</strong></span>
                    </div>
                </div>
                <div class="cnyin_record">
                    <form class="pwtrade clear marl_80" id="form-coinout">
                        <dl>
                            <dt>钱包地址：</dt>
                            <dd>
                                <input type="text" name="wallet" id="wallet" class="w376">
                            </dd>
                        </dl>
                        <dl>
                            <dt>转出数量：</dt>
                            <dd>
                                <input type="text" name="number" id="number">
                                <div class="withdraw_explain">最小1，最大500000元</div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>交易密码：</dt>
                            <dd>
                                <input type="password" name="pwtrade" id="pwtrade">
                            </dd>
                        </dl>
                        <dl>
                            <dt>手机验证码：</dt>
                            <dd>
                                <input type="text" name="code" id="code">
                            </dd>
                            <dd class="yuyin" style="margin-top:3px; margin-left:5px;">
                                <a class="btn-mobile-sms1" href="javascript:;" onclick="send()">获取短信验证码</a>
                                <a class="btn-mobile-sms1 btn-mobile-sms1_1">59秒后重新获取</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <input type="hidden" id="coinout-coin" name="coin" value="ltc">
                                <input type="button" value="确认转出" name="submit">
                            </dd>
                        </dl>
                    </form>
                    <dl class="txxz">
                        <dd>转出说明：</dd>
                        <dd>1. 为了安全，转出 <b class="coin-name">凯特币</b> 是由人工处理，您提交后，我们会在短时间内为您处理</dd>
                        <dd>2. 为了加快转币的速度，我们会为每次转币支付网络费，但由于 <b class="coin-name">凯特币</b> 网络的不确定性，部分转币仍会较慢，请耐心等待</dd>
                        <dd>3. 提现手续费率为提现数额的1％，每笔提现最低收费0.1</dd>
                    </dl>
                    <br>
                </div>
                <div class="pt20">
                    <h3>转出记录</h3>
                    <table class="mes-dis">
                        <thead>
                            <tr>
                                <th>记录ID</th>
                                <th>转入钱包地址</th>
                                <th>数量</th>
                                <th>转出时间</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <p class="tc">暂无记录</p>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--/右边内容区域-->
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 底部 -->
    <div id="ft" class="ft clearfix">
        <div class="ft-inner clearfix">
            <div class="help_service clearfix">
                <div class="ft-helper clearfix">
                    <dl>
                        <dt><a href="javascript:;" title="">关于我们</a></dt>
                        <dd>
                            <a href="#">公司简介 </a>
                            <a href="#">联系我们 </a>
                            <a href="#">法律声明 </a>
                            <a href="#">费用说明 </a>
                            <a href="#" title="">更多</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="javascript:;" title="">新手帮助</a></dt>
                        <dd>
                            <a href="#">注册指南 </a>
                            <a href="#">充值指南 </a>
                            <a href="#">交易指南 </a>
                            <a href="#">虚拟币提现指南 </a>
                            <a href="#" title="">更多</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="javascript:;" title="">下载中心</a></dt>
                        <dd>
                            <a href="#">虚拟币钱包下载 </a>
                            <a href="#">浏览器下载 </a>
                            <a href="#">新币上线申请条例 </a>
                            <a href="#" title="">更多</a>
                        </dd>
                    </dl>
                    <!--<dl>
                    <dt>市场合作</dt>
                    <dd>
                        <p>qq：456456</p>
                        <p>邮箱：msdf@sdf.com</p>
                    </dd>
                </dl>-->
                </div>
                <div class="ft-service">
                    <dl>
                        <dt><span class="icon-hdSprite icon-ft-tishi"></span>
                            <a href="" class="fl fb" target="_blank">在线客服</a></dt>
                        <dd>
                            <p>
                                <strong>400-838-1558</strong>
                            </p>
                            <p>工作9:00-21:00 / 节假日9:00-18:00</p>
                            <p>
                                <a id="a-cs_email" href="#" class="serviceLink sLk1">客服邮箱</a>
                                <a id="a-cs_ online" href="tencent://message/?uin=22645950&amp;Site=Gobiw.com购币网 | 网购最具投资价值的虚拟货币&amp;Menu=yes" target="_blank" class="serviceLink sLk2">在线客服</a>
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="ft-wap clearfix">
                <ul class="mobile-client">
                    <li>
                        <p>关注微信</p>
                        <p class="mt-10"><img width="110" src="images/code.png"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ft-record">
            <div class="ft-identity">
                <em>CopyRight©</em>
                <span>2016 购币网 | 网购最具投资价值的虚拟货币 All rights reserved</span>
                <span class="color-e6">|</span>
                <span>福建中泰网络科技有限公司</span>
                <span class="color-e6">|</span>
                <span>闽ICP备14013060号</span>
            </div>
        </div>
    </div>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="js/common.js"></script>
  <script type="text/javascript">
    $("input[name='submit']").click(function(){
        var wallet = $("#wallet").val();
        var pwtrade = $("#pwtrade").val();
        var number = $("#number").val();
        var code = $('#code').val();

        if(!wallet || !pwtrade || !number || !code){
            alert('请填写相应值');return;
        }
        var min = Number('1');
        var max = Number('50000000');
        if(number<min || number>max){
            alert('超出数额范围');return ;
        }

        var url = '/finance/currencyout/id/15';
        var param = {
            'outaddr':wallet,
            'pwtrade':pwtrade,
            'num':number,
            'code':code
        }

        $.post(url, param,
          function(data){
            if(data.flag){
              alert('申请成功，等待审核');
              location.reload();
            }else{
              alert(data.data);
            }
        }, "json");
    });

    function send(){
        var url = "/my/sendPhone";
        var param = {
            'phone' : '13466755020'
        }
        $.post(url, param,
          function(data){
            if(data.flag){  
              alert("已发送");
            }else{
              alert(data.data);
            }
        }, "json");
        
    }
    var pageSet = {};
    pageSet.showDetail = function(){
        var timer = null
        $('.deal-center').hover(function(){
            $('.deal-list').show();
        },function(){
            timer = setTimeout(function(){
                $('.deal-list').hide();
            },500)

        })
        $('.deal-list').hover(function(){
            timer&&clearTimeout(timer);
        },function(){
            timer = setTimeout(function(){
                $('.deal-list').hide();
            },500)
        })
    }
    pageSet.init = function(){
        pageSet.showDetail();
    };
    $(function(){
        pageSet.init();
    })
</script>

</body>

</html>
