@(token: String)(profile: play.api.libs.json.JsValue)(reports: List[play.api.libs.json.JsValue])(bitnews: List[play.api.libs.json.JsValue])(othernews: List[play.api.libs.json.JsValue])

@main("首页")(token) {

} {
    <!-- 幻灯片 -->
    <div class="main-visual">
        <div class="login_wrap">
            @if(token == "" && profile == null) {
            <div class="login_box">
                <div class="login_bg"></div>
                <!-- 未登录状态 -->
                <div class="login_box_1">
                    <div class="login_title">登录</div>
                    <div action="/user/loginForm" method="post">
                        <div class="login_text zin90">
                            <input type="text" id="login-email-i" name="user" value="" placeholder="邮箱地址">
                            <div id="email-err-i" class="prompt" style="display: none;"></div>
                        </div>
                        <div class="login_text zin80">
                            <input type="password" id="pw" name="password" value="" placeholder="密码">
                            <div id="pw-err-i" class="prompt" style="display: none;"></div>
                        </div>
                        <div class="login_status">
                            <input type="checkbox" id="login_status" name="autologin"> 下次自动登录</div>
                        <div class="login_button">
                            <button id='index_login_btn' class="btn">登录</button>
                        </div>
                    </div>
                    <div class="login-footer">
                        <!-- <a href="#"><img src="images/qq2.png">QQ登录</a> --><span><a href="register.html">免费注册</a>｜<a href="forget_pwd.html" target="_blank">忘记密码</a></span></div>
                </div>
            </div>
            }
        </div>
        <div class="flicking-con">
            <div class="flicking-inner">
                <li class="on">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </div>
        </div>
        <div class="main-image">
            <ul style="position: relative; width: 1349px; height: 400px; margin:0 auto; ">
                <li style="position: absolute; width: 1349px; left: 0px; top: 0px;"><a href="#" title="瑞迪币首发购币网" target="_blank"><span style="background: url(@routes.Assets.at("images/banner3.jpg")) center center no-repeat"></span></a></li>
                <li style="position: absolute; width: 1349px; left: 0px; top: 0px; display: none;"><a href="#" title="购币网喜迁万达广场写字楼系列活动公告" target="_blank"><span style="background: url(@routes.Assets.at("images/banner4.jpg")) center center no-repeat"></span></a></li>
                <li style="position: absolute; width: 1349px; left: 0px; top: 0px; display: none;"><a href="#" title="诺亚币弥月之喜" target="_blank"><span style="background: url(@routes.Assets.at("images/banner5.jpg")) center center no-repeat"></span></a></li>
            </ul>
            <a href="javascript:;" class="btn-prev prev"></a>
            <a href="javascript:;" class="btn-next next"></a>
        </div>
        <!-- 公告栏 -->
        <!-- <div class="k-notice">
        <div class="minbox pl10">
            <b>公告：</b>
            <span class="fl"></span>
            <span class="fr"><a href="" target="_blank">更多公告</a></span>
        </div>
    </div> -->
    </div>
    <!-- /幻灯片 -->
    <div class="price_today">
        <div class="minbox">
            <ul class="price_today_ull">
                <input type="hidden" id="okey" value="p6_2">
                <li data-sort="0" style="cursor: default;">币种 </li>
                <li class="click-sort">最新成交价<i class="cagret cagret-down" value="p1_2"></i><i class="cagret cagret-up" value="p1_1"></i></li>
                <li class="click-sort">买一价<i class="cagret cagret-down" value="p2_2"></i><i class="cagret cagret-up" value="p2_1"></i></li>
                <li class="click-sort">卖一价<i class="cagret cagret-down" value="p3_2"></i><i class="cagret cagret-up" value="p3_1"></i></li>
                <li class="click-sort">24小时成交<i class="cagret cagret-down" value="p4_2"></i><i class="cagret cagret-up" value="p4_1"></i></li>
                <li class="click-sort">日涨跌<i class="cagret cagret-down" value="p5_2"></i><i class="cagret cagret-up" value="p5_1"></i></li>
                <li data-sort="0">价格趋势(3日)</li>
            </ul>
        </div>
    </div>
    <ul class="price_today_ul" id="price_today_ul">
        <li>
            <dl class="minbox clearfix">
                <dt class="bname">
                    <a href="/coin/index/id/15"><img class="coin-it" src="@routes.Assets.at("images/btb.png")" width="26">
                        <p>比特币(BTC)</p>
                    </a>
                </dt>
                <dd class="red b_price">￥0.416</dd>
                <dd>0.417</dd>
                <dd>0.423</dd>
                <dd class="w142">340982.505</dd>
                <dd class="w142 green" style="text-indent:2.8em;color:red">-6.73%</dd>
                <dd id="15_plot" style="width: 120px; height: 35px; padding: 0px; position: relative;">
                    <canvas class="flot-base" width="120" height="35" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 120px; height: 35px;"></canvas>
                    <canvas class="flot-overlay" width="120" height="35" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 120px; height: 35px;"></canvas>
                </dd>
                <dd class="bnt_jy"><a class="tojy" href="#">去交易</a></dd>
            </dl>
        </li>
        <li>
            <dl class="minbox clearfix">
                <dt class="bname">
                    <a href="/coin/index/id/15"><img class="coin-it" src="@routes.Assets.at("images/k.png")" width="26">
                        <p>莱特币(LTC)</p>
                    </a>
                </dt>
                <dd class="red b_price">￥0.416</dd>
                <dd>0.417</dd>
                <dd>0.423</dd>
                <dd class="w142">340982.505</dd>
                <dd class="w142 green" style="text-indent:2.8em;color:red">-6.73%</dd>
                <dd id="15_plot" style="width: 120px; height: 35px; padding: 0px; position: relative;">
                    <canvas class="flot-base" width="120" height="35" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 120px; height: 35px;"></canvas>
                    <canvas class="flot-overlay" width="120" height="35" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 120px; height: 35px;"></canvas>
                </dd>
                <dd class="bnt_jy"><a class="tojy" href="#">去交易</a></dd>
            </dl>
        </li>
    </ul>
    <!--风险提示-->
    <div id="note" class="note">
        <div class="text">风险提示：数字货币投资存在一定的风险，请适量控制您的资金，不要投资您所不了解的数字货币，拒绝传销组织，警惕虚假宣传。</div>
        <div>
            <a href="#" onclick="closeclick()" class="close"><img src="@routes.Assets.at("images/note_close.png")" border="0"></a>
        </div>
    </div>
    <!--公告资讯-->
    <div class="news_w">
        <div class="news_box">
            <span class="jubi_news">
            <h3><a target="_blank" href="#">官方公告</a></h3>
            <ul class="pp_list">
            @{reports map { x => 
            	<li><a target="_blank" title="@{(x \ 'title').asOpt[String].get}" href="#">'@{(x \ "title").asOpt[String].get}'</a></li>
            }}
            <li><a class="grey" target="_blank" href="/article/category/id/6">查看更多&gt;&gt;</a></li>
            </ul>
        </span>
            <span class="btc_news">
            <h3><a target="_blank" href="/article/category/id/7">比特币资讯</a></h3>
            <ul class="pp_list">
            @{bitnews map { x => 
                <li><a target="_blank" title="@{(x \ 'title').asOpt[String].get}" href="#">'@{(x \ "title").asOpt[String].get}'</a></li>
            }}
                <li><a class="grey" target="_blank" href="/article/category/id/7">查看更多&gt;&gt;</a></li>
            </ul>
        </span>
            <span class="shanzhai_news">
            <h3><a target="_blank" href="/article/category/id/8">山寨币资讯</a></h3>
            <ul class="pp_list">
            @{othernews map { x => 
                <li><a target="_blank" title="@{(x \ 'title').asOpt[String].get}" href="#">'@{(x \ "title").asOpt[String].get}'</a></li>
            }}
                <li><a class="grey" target="_blank" href="#">查看更多&gt;&gt;</a></li>
            </ul>
        </span>
        </div>
    </div>
    <!--联系方式-->
    <div class="lxbox">
        <div class="autobox">
            <ul class="lx_service">
                <li class="w265">
                    <a href="tencent://message/?uin=22645950&amp;Site=Gobiw.com购币网 | 网购最具投资价值的虚拟货币&amp;Menu=yes" target="_blank">
                        <div class="web_service_pic service_1"></div>
                        <div class="web_service_pic_num">
                            <p>22645950</p>
                            <div class="qqsecvice">在线QQ客服</div>
                        </div>
                    </a>
                </li>
                <li class="w245">
                    <div class="web_service_pic service_2"></div>
                    <div class="web_service_pic_num">
                        <p>400-838-1558</p>
                        <div>7x24小时服务热线</div>
                    </div>
                </li>
                <li class="w265">
                    <a href="http://weibo.com/gobiw" target="_blank">
                        <div class="web_service_pic service_3"></div>
                        <div class="web_service_pic_num">
                            <p>weibo.cn/gobiw</p>
                            <div>新浪官方微博</div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="web_service_pic service_4"></div>
                    <div class="web_service_pic_num">
                        <p>仨群：470546945</p>
                        <div class="h_underl">交流QQ群</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--保障提示-->
    <div class="safety_tips">
        <h3 style="position: relative;z-index: 2"><span style="display: inline-block; padding: 5px 10px; background: #fff;">最专业的安全保障</span></h3>
        <div class="minbox">
            <div style="position: absolute; width: inherit; height: 0px;border-bottom: 1px solid #ccc;margin-top: -70px;z-index: 1"></div>
            <ul class="safety_tips_ul clearfix">
                <li>
                    <img src="@routes.Assets.at("images/safe_1.png")" alt="" width="70" height="70">
                    <h4>系统可靠</h4>
                    <p>银行级用户数据加密、动态身份验证，多级风险识别控制，保障交易安全</p>
                </li>
                <li>
                    <img src="@routes.Assets.at("images/safe_2.png")" alt="" width="70" height="70">
                    <h4>资金安全</h4>
                    <p>钱包多层加密，离线存储于银行保险柜，资金第三方托管，确保安全</p>
                </li>
                <li>
                    <img src="@routes.Assets.at("images/safe_3.jpg")" alt="" width="70" height="70">
                    <h4>快捷方便</h4>
                    <p>充值即时、提现迅速，每秒万单的高性能交易引擎，保证一切快捷方便</p>
                </li>
                <li>
                    <img src="@routes.Assets.at("images/safe_4.png")" alt="" width="70" height="70">
                    <h4>服务专业</h4>
                    <p>专业的客服团队，400电话和24小时在线QQ，VIP一对一专业服务</p>
                </li>
            </ul>
        </div>
    </div>
    <!--友情链接-->
    <div class="link">
        <div class="linkbox">
            <h4><a target="_blank" href="#">友情链接</a></h4>
            <ul class="clearfix">
                <li><a target="_blank" href="#">OKCOIN </a></li>
                <li><a target="_blank" href="#">搜搜比特币 </a></li>
                <li><a target="_blank" href="#">巴比特资讯 </a></li>
                <li><a target="_blank" href="#">BTC123比特币导航 </a></li>
                <li><a target="_blank" href="#">比太网 </a></li>
            </ul>
        </div>
    </div>
} { 
    <!-- <script src="js/jquery.flot.js?v=1.37"></script> -->
    <script type="text/javascript">
    // 登陆
    $('#index_login_btn').click(function(){
        var email = $('input[name="user"]').last().val();
        var query_object = new Object();
        query_object['email'] = email;
        query_object['token'] = hex_md5(email + $('input[name="password"]').last().val());

        $.ajax({
            url: "/auth/login",
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json, charset=utf-8',
            data: JSON.stringify(query_object),
            cache: false,
            success: function (data) {
                if (data.status == "ok") {
                     setCookie("user_id", data.result.user_id, 1);
                     setCookie("token", data.result.token, 1);
                     location.reload();
                } else {
                    alert(data.error.message);
                }
            },
            error: function (xhr, status, error) {
                alert("发布失败，请检查您的输入");
            }
        });
    });

    var trends = {};
    var runed = 0;

    function getAllBrief() {
        $.ajax({
            url: "/market/current",
            type: 'POST',
            dataType: 'json',
            //contentType: 'application/json, charset=utf-8',
            cache: false,
            success: function (data) {
            	var html = '';
                    // var d = data.data;
                    // for (var i in d) {
                        {
                        var coin = data.btc.ticker;
                        html += '<li><dl class="minbox clearfix">';
                        // html += '<dt class="bname"><a href="/coin/index/id/' + d[i]['cuy_id'] + '">';
                        // html += '<img class="coin-it" src="' + d[i]['cuy_logo'] + '" width="26">';
                        // html += '<p>' + d[i]['cuy_name'] + '(' + d[i]['cuy_abbr'] + ')</p></a></dt>';
                        html += '<dt class="bname">'
                        html += '<a href="/coin/index/id/15"><img class="coin-it" src="@routes.Assets.at("images/btb.png")" width="26">'
                        html += '<p>比特币(BTC)</p>'
                        html += '</a>'
                        html += '</dt>'
                        html += '<dd class="red b_price">￥' + coin.last + '</dd>';
                        html += '<dd>' + coin.buy + '</dd>';
                        html += '<dd>' + coin.sell + '</dd>';
                        html += '<dd class="w142">' + coin.vol + '</dd>';
                        var num = ((coin.last - coin.open) / coin.open);
                        if (coin.last - coin.open < 0) {
                            html += '<dd class="w142 green" style="text-indent:2.8em;color:red">' + Math.round(num * 10000) / 100 + '%</dd>';
                        } else {
                            html += '<dd class="w142" style="text-indent:2.8em;color:red">+' + Math.round(num * 10000) / 100 + '%</dd>';
                        }

                        // html += '<dd id="' + d[i]['cuy_id'] + '_plot"style="width:120px;height:35px;"></dd>';
                        html += '<dd id="' + '_plot"style="width:120px;height:35px;"></dd>';
                        // if (d[i]['cuy_status'] == 1) {
                            // html += '<dd class="bnt_jy"><a class="tojy" href="/coin/subscribe/id/' + '">去认购</a></dd>';
                        // } else {
                            html += '<dd class="bnt_jy"><a class="tojy" href="/trade/btc' + '">去交易</a></dd>';
                        // }
                        html += '</dl></li>';
                        }

                        {
                        var coin = data.ltc.ticker;
                        html += '<li><dl class="minbox clearfix">';
                        // html += '<dt class="bname"><a href="/coin/index/id/' + d[i]['cuy_id'] + '">';
                        // html += '<img class="coin-it" src="' + d[i]['cuy_logo'] + '" width="26">';
                        // html += '<p>' + d[i]['cuy_name'] + '(' + d[i]['cuy_abbr'] + ')</p></a></dt>';
                        html += '<dt class="bname">'
                        html += '<a href="/coin/index/id/15"><img class="coin-it" src="@routes.Assets.at("images/k.png")" width="26">'
                        html += '<p>莱特币(LTC)</p>'
                        html += '</a>'
                        html += '</dt>'
                        html += '<dd class="red b_price">￥' + coin.last + '</dd>';
                        html += '<dd>' + coin.buy + '</dd>';
                        html += '<dd>' + coin.sell + '</dd>';
                        html += '<dd class="w142">' + coin.vol + '</dd>';
                        var num = ((coin.last - coin.open) / coin.open);
                        if (coin.last - coin.open < 0) {
                            html += '<dd class="w142 green" style="text-indent:2.8em;color:red">' + Math.round(num * 10000) / 100 + '%</dd>';
                        } else {
                            html += '<dd class="w142" style="text-indent:2.8em;color:red">+' + Math.round(num * 10000) / 100 + '%</dd>';
                        }

                        // html += '<dd id="' + d[i]['cuy_id'] + '_plot"style="width:120px;height:35px;"></dd>';
                        html += '<dd id="' + '_plot"style="width:120px;height:35px;"></dd>';
                        // if (d[i]['cuy_status'] == 1) {
                            // html += '<dd class="bnt_jy"><a class="tojy" href="/coin/subscribe/id/' + '">去认购</a></dd>';
                        // } else {
                            html += '<dd class="bnt_jy"><a class="tojy" href="/trade/ltc' + '">去交易</a></dd>';
                        // }
                        html += '</dl></li>';
                        }
                    // }
                    $('#price_today_ul').html(html);
                    // coinplot();
            },
            error: function (xhr, status, error) {
                // alert("请检查您的输入");
            }
        });
    }
    var d = '';

    function coinplot() {
        if (d) {
            for (var i in d) {
                if (d[i].length > 0 && $("#" + i + "_plot").length > 0) {
                    $.plot($("#" + i + "_plot"), [{
                        shadowSize: 0,
                        data: d[i]
                    }], {
                        grid: {
                            borderWidth: 0
                        },
                        xaxis: {
                            mode: "time",
                            ticks: false
                        },
                        yaxis: {
                            tickDecimals: 0,
                            ticks: false
                        },
                        colors: ['#f99f83']
                    });
                }
            };
            return;
        }

        var url = 'js/plot.js';
        var param = {}

        $.post(url, param,
            function(data) {
                if (data.flag) {
                    d = data.data;
                    for (var i in d) {
                        if (d[i].length > 0 && $("#" + i + "_plot").length > 0) {
                            $.plot($("#" + i + "_plot"), [{
                                shadowSize: 0,
                                data: d[i]
                            }], {
                                grid: {
                                    borderWidth: 0
                                },
                                xaxis: {
                                    mode: "time",
                                    ticks: false
                                },
                                yaxis: {
                                    tickDecimals: 0,
                                    ticks: false
                                },
                                colors: ['#f99f83']
                            });
                        }
                    };
                } else {
                    alert(data.data);
                }
                runed = 1;
            }, "json");
    }

    $(".cagret-up,.cagret-down").click(function() {
        $('#okey').val($(this).attr('value'));
        $('.cagret').removeClass('active');
        $(this).addClass('active');
        getAllBrief();
    });
    var pageSet = {};
    pageSet.bn = function() {
        $(".btn-prev,.btn-next").hover(function() {
            $(this).stop(true, false).fadeTo("show", 0.9);
        }, function() {
            $(this).stop(true, false).fadeTo("show", 0.2);
        });

        // $(".main-visual").slide({
        //     mainCell: ".main-image ul",
        //     titCell: ".flicking-inner",
        //     effect: "fold",
        //     interTime: 3500,
        //     delayTime: 500,
        //     autoPlay: true,
        //     autoPage: true,
        //     trigger: "click"
        // });
    }

    pageSet.init = function() {
        common.showDetail();
        pageSet.bn();
    };
    $(function() {
        pageSet.init();
        getAllBrief();
        setInterval("getAllBrief()", 1000);
        $(".hb_close").click(function(event) {
            $(this).parent().parent().css({
                "display": "none"
            });
            $(".hbbox").css({
                "display": "none"
            });
        });
    })

    function closeclick() {
        document.getElementById('note').style.display = 'none';
    }
    </script>
} {
    @if(token != "" && profile != null) {
        您好，<a href="#">@{(profile \ "name").asOpt[String].get}</a> <button id='logout_btn' class='btn'>退出</button>
    } else {
        <a rel="nofollow" onclick="common.login()" class="pop-login">登录</a><a rel="nofollow" href="/register">注册</a>
    }
}