
@main("BitCoin Landing") {
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	
	<script src="@routes.Assets.at("javascripts/JQuery.md5.js")"></script>
} {
    <!--/login-->
	<div class="error_page">
		<!--/login-top-->
		<div class="error-top">
			<h2 class="inner-tittle page">BitCoin</h2>
			<div class="login">
				<h3 class="inner-tittle t-inner">Login</h3>
				<div class="buttons login">
				<ul>
					<!--<li><a href="#" class="hvr-sweep-to-right">Facebook</a></li> -->
					<!--<li class="lost"><a href="#" class="hvr-sweep-to-left">Twitter</a> </li>-->
					<div class="clearfix"></div>
				</ul>
			</div>
				<input id="email" type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" >
				<input id="pwd" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
				<div class="submit"><input type="submit" onclick="login()" value="Login" ></div>
				<div class="clearfix"></div>
																		
				<div class="new">
					<p><label class="checkbox11"><input type="checkbox" name="checkbox"><i> </i>Forgot Password ?</label></p>
					<p class="sign">Do not have an account ? <a href="/sign">Sign Up</a></p>
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
	<!--//login-top-->
	</div>
	<!--//login-->
	<!--footer section start-->
	<div class="footer">
		<div class="error-btn">
			<a class="read fourth" href="index.html">Return to Home</a>
		</div>
		<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</div>
	<!--footer section end-->
	<!--/404-->
} {
	<script type="text/javascript">
		function login() {
			var query_object = new Object();
			query_object['email'] = $('#email').val();
			//query_object['pwd'] = $('#pwd').val();
			query_object['token'] = hex_md5($('#email').val() + $('#pwd').val());

			$.ajax({
				url: "/auth/login",
		        type: 'POST',
		        dataType: 'json',
		        contentType: 'application/json, charset=utf-8',
		        data: JSON.stringify(query_object),
		        cache: false,
		        success: function (data) {
			        if (data.status == "ok") {
				    	redirectToHome(data.result.token);
			        } else {
			        	alert(data.error.message);
			        }
		        },
		        error: function (xhr, status, error) {
			        alert("发布失败，请检查您的输入");
		        }
			});
		}
		
		function redirectToHome(token) {
			$.ajax({
			    url: "/home",
			    type: "GET",
			    beforeSend: function(xhr) {
			        xhr.setRequestHeader('Authorization', 'Basic ' + token);
			    },
			    success: function() {
			    	alert("check token success");
			        // window.location.href = '/home';
			    }
			});
		}
		
	</script>
}
