
@main("BitCoin Signing") {
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

} {
   <div class="error_page">
			<!--/login-top-->
				<div class="error-top up">
				<h2 class="inner-tittle page">BitCoin</h2>
				    <div class="login">
						<h3 class="inner-tittle t-inner">Sign Up</h3>
						<input id="email" type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" >
						<input id="pwd" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<input id="pwd_confirm" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<div class="submit"><input type="submit" onclick="onSign()" value="Sign up" ></div>
						<div class="clearfix"></div>
						<div class="new">
							<p class="sign up">Do you have an account yet ? <a href="/landing"> Login here.</a></p>
							<div class="clearfix"></div>
						</div>
					</div>
					
				</div>
				 
			<!--//login-top-->
	   </div>
	  	<!--//login-->
	    <!--footer section start-->
	<div class="footer sign">
		<div class="error-btn">
			<a class="read fourth" href="index.html">Return to Home</a>
		</div>
	   	<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</div>
	<!--footer section end-->
	<!--/404-->
} {
	<script type="text/javascript">
		function onSign() {

			var pwd = $('#pwd').val();
			var pwd_confirm = $('#pwd_confirm').val(); 
			if (pwd != pwd_confirm) {
				alert("两次输入密码不一致");
				return;
			};
			
			var query_object = new Object();
			query_object['email'] = $('#email').val();
			query_object['pwd'] = $('#pwd').val();
			
			$.ajax({
				url: "/auth/register",
		        type: 'POST',
		        dataType: 'json',
		        contentType: 'application/json, charset=utf-8',
		        data: JSON.stringify(query_object),
		        cache: false,
		        success: function (data) {
			        alert(data.status);
			        if (data.status == "ok") {
				    	alert(data.result.token); 
			        } else {
			        	alert(data.error.message);
			        }
		        },
		        error: function (xhr, status, error) {
			        alert("发布失败，请检查您的输入");
		        }
			});
		}
	</script>
}
