@(token: String)(profile: play.api.libs.json.JsValue)

@main("新币投票")(token) {
	<style type="text/css">
	    * {
        margin: 0;
        padding: 0;
    }
    body{
  font: 14px/1.5 tahoma,arial,"\5b8b\4f53";

    }
    .banner img {
        width: 100%;
        border: none;
        display: block;
    }
    
    .goods {
        width: 990px;
        /*height: 353px;*/
        margin: 0 auto;
        position: relative;
    }
    .goods img{
        width: 100%;
        display: block;
    }
    .goods a{
         text-decoration: none;
        position: absolute;
        z-index: 999;
        display: block;
        width: 185px;
        height: 35px;
        color: #333333;
        text-align: center;line-height: 37px;
        border: 2px solid #8641b4;
        border-radius: 5px;
        font-weight: 600;
    }
    .goods .btn_l {
       
        left: 100px;
        bottom: 80px;

        background: #ffc320;
       
        border: 2px solid #8641b4;
        
    }
     .goods .btn_r {
       
        bottom: 48px;
        right: 265px;
        background: #1d84c0;
       
        border: 2px solid #fa4a85;
        
    }
    .goods_wrap{
        width: 100%;
        position: relative;
        padding-top: 136px;
    }
    .goods_wrap .bg{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        top: 0;
        left: 0;
    }
	</style>
} {
    <!-- 主体内容 -->
    <div class="banner"><img src="@routes.Assets.at("images/banner.jpg")" alt=""></div>
    <div class="goods_wrap">
        <img class="bg" src="@routes.Assets.at("images/bg1.jpg")" alt="">
        <div class="goods">
            <img src="@routes.Assets.at("images/goods1.jpg")" alt="">
            <a class="btn_l" href="#">立即兑换</a>
        </div>
        <div class="goods">
            <img src="@routes.Assets.at("images/goods2.jpg")" alt="">
            <a class="btn_r" href="#">立即兑换</a>
        </div>
        <div class="goods">
            <img src="@routes.Assets.at("images/goods1.jpg")" alt="">
            <a class="btn_l" href="#">立即兑换</a>
        </div>
        <div class="goods">
            <img src="@routes.Assets.at("images/goods2.jpg")" alt="">
            <a class="btn_r" href="#">立即兑换</a>
        </div>
        <div class="goods">
            <img src="@routes.Assets.at("images/goods1.jpg")" alt="">
            <a class="btn_l" href="#">立即兑换</a>
        </div>
        <div class="goods">
            <img src="@routes.Assets.at("images/goods2.jpg")" alt="">
            <a class="btn_r" href="#">立即兑换</a>
        </div>
        <div class="goods">
            <img src="@routes.Assets.at("images/goods1.jpg")" alt="">
            <a class="btn_l" href="#">立即兑换</a>
        </div>
        <div class="goods">
            <img src="@routes.Assets.at("images/goods2.jpg")" alt="">
            <a class="btn_r" href="#">立即兑换</a>
        </div>
    </div>
    <!-- /主体内容 -->
} { 
    <script type="text/javascript">
    var pageSet = {};
    pageSet.showDetail = function() {
        var timer = null
        $('.deal-center').hover(function() {
            $('.deal-list').show();
        }, function() {
            timer = setTimeout(function() {
                $('.deal-list').hide();
            }, 500)

        })
        $('.deal-list').hover(function() {
            timer && clearTimeout(timer);
        }, function() {
            timer = setTimeout(function() {
                $('.deal-list').hide();
            }, 500)
        })
    }
    pageSet.init = function() {
        pageSet.showDetail();
    };
    $(function() {
        pageSet.init();
    })

    function voted(vom_id, type) {
        // var voe_id = "1";
        // var url = '/ajax/vote/id/' + voe_id;
        // var param = {
        //     "vom_id": vom_id,
        //     'type': type
        // }
        // $.post(url, param,
        //     function(data) {
        //         if (data.flag) {
        //             alert('投票成功');
        //             location.reload();
        //         } else {
        //             alert(data.data);
        //         }
        //     }, "json");
        alert("你所持的币不足");
    }
    </script>
} {
	您好，<a href="#">@{(profile \ "name").asOpt[String].get}</a> <button id='logout_btn' class='btn'>退出</button>
}
